@font-face {
  font-family: "Helvetica-Regular";
  src: url("../Fonts/Helvetica/helveticaneue.eot");
  /* IE9 Compat Modes */
  src: url("../Fonts/Helvetica/helveticaneue.eot?#iefix") format("embedded-opentype"), url("../Fonts/Helvetica/helveticaneue.woff") format("woff"), url("../Fonts/Helvetica/helveticaneue.ttf") format("truetype"), url("../Fonts/Helvetica/helveticaneue.svg") format("svg");
  /* Legacy iOS */
}

/* line 1, ../../../Desktop/Expand Cart/scss/Components/_generic.scss */
body {
  background-color: #F5F7F8;
}

/* line 4, ../../../Desktop/Expand Cart/scss/Components/_generic.scss */
* {
  font-family: "Helvetica-Regular";
}

/* line 8, ../../../Desktop/Expand Cart/scss/Components/_generic.scss */
.form-control {
  min-height: 38px;
}

/* line 10, ../../../Desktop/Expand Cart/scss/Components/_generic.scss */
.form-control:focus {
  box-shadow: none;
  border-color: #155EBC;
}

/* line 14, ../../../Desktop/Expand Cart/scss/Components/_generic.scss */
.form-control.error {
  border-color: #f00;
}

/* line 18, ../../../Desktop/Expand Cart/scss/Components/_generic.scss */
#map {
  height: 250px;
  margin-bottom: 10px;
}

/* line 22, ../../../Desktop/Expand Cart/scss/Components/_generic.scss */
.generic-btn {
  width: 100%;
  border-radius: 2px;
  background-color: #155EBC;
  border-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 8px;
}

/* line 31, ../../../Desktop/Expand Cart/scss/Components/_generic.scss */
.generic-btn:first-child {
  margin-bottom: 15px;
}

/* line 34, ../../../Desktop/Expand Cart/scss/Components/_generic.scss */
.generic-btn:focus-visible {
  outline: 0;
}

/* line 38, ../../../Desktop/Expand Cart/scss/Components/_generic.scss */
.error {
  color: #f00;
  font-size: 12px;
}

/* line 42, ../../../Desktop/Expand Cart/scss/Components/_generic.scss */
.main {
  margin-bottom: 50px;
}

/* line 46, ../../../Desktop/Expand Cart/scss/Components/_generic.scss */
.space-between {
  display: flex;
  justify-content: space-between;
}

/* line 50, ../../../Desktop/Expand Cart/scss/Components/_generic.scss */
.line-under {
  position: relative;
}

/* line 52, ../../../Desktop/Expand Cart/scss/Components/_generic.scss */
.line-under::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E0E5EB;
  bottom: -25px;
  left: 0;
}

/* line 2, ../../../Desktop/Expand Cart/scss/Layout/_header.scss */
.header {
  background-color: #fff;
  padding: 15px 0;
  margin-bottom: 20px;
}

/* line 6, ../../../Desktop/Expand Cart/scss/Layout/_header.scss */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 11, ../../../Desktop/Expand Cart/scss/Layout/_header.scss */
.header .header__logo {
  font-size: 14px;
  background: #E0E5EB;
  padding: 15px;
  text-align: center;
  min-width: 185px;
  border-radius: 2px;
}

/* line 19, ../../../Desktop/Expand Cart/scss/Layout/_header.scss */
.header .header__dropdowns {
  display: flex;
}

/* line 21, ../../../Desktop/Expand Cart/scss/Layout/_header.scss */
.header .header__dropdowns button {
  background-color: transparent;
  border-color: transparent;
  color: #171616;
}

/* line 25, ../../../Desktop/Expand Cart/scss/Layout/_header.scss */
.header .header__dropdowns button::after {
  content: unset;
}

/* line 28, ../../../Desktop/Expand Cart/scss/Layout/_header.scss */
.header .header__dropdowns button:focus-visible {
  outline: 0;
}

/* line 31, ../../../Desktop/Expand Cart/scss/Layout/_header.scss */
.header .header__dropdowns button:focus {
  box-shadow: unset;
}

/* line 1, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps {
  padding: 20px 30px 30px;
  background-color: #fff;
}

/* line 5, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .tab {
  display: none;
}

/* line 9, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .tab.active {
  display: block;
}

/* line 13, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 35px;
  position: relative;
}

/* line 18, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__header span {
  font-size: 16px;
}

/* line 21, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__header .register-steps__header__item {
  position: relative;
  flex: 0 0 33.33%;
  justify-content: center;
  transition: all 0.5s ease;
  display: flex;
}

/* line 28, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__header .register-steps__header__item.active::before {
  width: 100%;
  opacity: 1;
}

/* line 34, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__header .register-steps__header__item::before {
  transition: all 0.5s ease;
  content: '';
  height: 3px;
  width: 0%;
  background-color: #155EBC;
  position: absolute;
  bottom: -18.5px;
  left: 0;
  opacity: 0;
}

/* line 47, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__header::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #E0E5EB;
  bottom: -17.5px;
  left: 0;
}

/* line 60, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .contact-info {
  margin-bottom: 30px;
}

/* line 63, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .step-one__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #000;
}

/* line 69, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .step-one__header h4 {
  font-size: 16px;
  margin-bottom: 0;
}

/* line 73, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .step-one__header a {
  color: #000;
}

/* line 77, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .step-one__address__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* line 81, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .step-one__address__header button {
  background-color: transparent;
  border: 0;
  color: #209DF9;
  font-size: 13px;
}

/* line 86, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .step-one__address__header button::before {
  content: "+";
  color: #209DF9;
  margin-right: 5px;
}

/* line 93, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .step-one__address__header h4 {
  font-size: 16px;
}

/* line 97, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one p {
  color: #646464;
  font-size: 14px;
  margin-bottom: 25px;
}

/* line 102, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .step-one__add-address {
  display: none;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 30px;
}

/* line 108, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .step-one__add-address .form-group {
  margin-bottom: 15px;
}

/* line 112, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .step-one__address__saved {
  margin-bottom: 30px;
}

/* line 114, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .step-one__address__saved .step-one__address__saved__item {
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 7px;
}

/* line 119, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .step-one__address__saved .step-one__address__saved__item h5 {
  margin-bottom: 0;
  position: relative;
}

/* line 129, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .step-one__ship-gift {
  margin-bottom: 20px;
}

/* line 131, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .step-one__ship-gift label {
  font-size: 13px;
  color: #646464;
}

/* line 137, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .accordion-button {
  padding: 0;
  background-color: transparent;
  font-size: 13px;
  color: #646464;
  padding: 13px;
  padding-left: 40px;
  position: relative;
  transition: all 0.5s ease;
}

/* line 146, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .accordion-button::before {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid #ced4da;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: calc(50% - 8.5px);
}

/* line 157, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .accordion-button::after {
  transition: all 0.5s ease;
  background-color: transparent;
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: calc(50% - 4px);
}

/* line 169, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .accordion-button:not(.collapsed) {
  box-shadow: unset;
  width: 50%;
}

/* line 172, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .accordion-button:not(.collapsed)::before {
  border: 2px solid #155EBC;
}

/* line 175, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .accordion-button:not(.collapsed)::after {
  background-color: #155EBC;
}

/* line 182, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .accordion-button:focus {
  background-color: transparent;
  box-shadow: unset;
}

/* line 190, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .accordion-body {
  padding: 0 40px 20px;
  display: flex;
  flex-direction: column;
}

/* line 194, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .accordion-body span {
  color: #646464;
  font-size: 15px;
  display: inline-block;
  margin-bottom: 10px;
}

/* line 199, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .accordion-body span:last-of-type {
  margin-bottom: 20px;
}

/* line 203, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .accordion-body button {
  max-width: 135px;
  background-color: transparent;
  border: 0;
  text-align: left;
  padding: 0;
  font-size: 15px;
  color: #209DF9;
}

/* line 213, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .collapse.show {
  display: flex;
}

/* line 215, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .collapse.show .accordion-body {
  width: 50%;
}

/* line 218, ../../../Desktop/Expand Cart/scss/Components/_steps.scss */
.register-steps .register-steps__content .step-one .collapse.show [id^="map"] {
  width: 50%;
  height: 190px;
}

/* line 1, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details {
  background-color: #fff;
  height: 100%;
  padding: 26px 20px;
}

/* line 5, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

/* line 9, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__header h4 {
  font-size: 16px;
}

/* line 13, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__item {
  margin-bottom: 5px;
}

/* line 15, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__item:last-child {
  margin-bottom: 30px;
}

/* line 19, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__item .row {
  margin: 0;
}

/* line 23, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__item .row > div:first-child {
  padding-left: 0;
}

/* line 26, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__item .row > div:last-child {
  padding-right: 0;
}

/* line 31, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__item .first-item {
  flex: 0 0 20%;
  max-width: 20%;
}

/* line 35, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__item .second-item {
  flex: 0 0 55%;
  max-width: 55%;
}

/* line 40, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__item .order-details__item__image {
  width: 100%;
  height: 100%;
  background-color: #E0E5EB;
}

/* line 45, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__item .order-details__item__price {
  display: flex;
  justify-content: flex-end;
}

/* line 50, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__item [class^="col"] {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 54, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__item h5, .order-details .order-details__item p, .order-details .order-details__item span {
  font-size: 11px;
}

/* line 61, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-items {
  margin-bottom: 40px;
}

/* line 66, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__header h4, .order-details .order-details__header p {
  margin-bottom: 0;
}

/* line 70, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__prices {
  margin-bottom: 10px;
}

/* line 72, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__prices h5, .order-details .order-details__prices p {
  font-size: 12px;
  margin-bottom: 0;
}

/* line 76, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__prices .order-details__prices__subtotal {
  margin-bottom: 10px;
}

/* line 80, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__coupons {
  display: flex;
  border: 1px solid #E0E5EB;
  border-radius: 2px;
  margin-bottom: 10px;
}

/* line 85, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__coupons button {
  min-width: 120px;
  background-color: #E0E5EB;
  border: 0;
  padding: 7px 10px;
  font-size: 14px;
  color: #000;
}

/* line 93, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__coupons input {
  width: calc(100% - 120px);
  border: 0;
  padding: 0 15px;
  font-size: 12px;
  color: #000;
}

/* line 99, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__coupons input:focus-visible {
  outline: 0;
}

/* line 104, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__point {
  margin-bottom: 30px;
}

/* line 107, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__point a {
  color: #397EF3;
  text-decoration: none;
  font-size: 12px;
}

/* line 114, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .line-under--point::before {
  bottom: -10px;
}

/* line 120, ../../../Desktop/Expand Cart/scss/Components/_order.scss */
.order-details .order-details__total-price span {
  font-size: 12px;
}

/*# sourceMappingURL=main-ltr.css.map */