

@font-face {
    font-family: "Helvetica-Regular";
    src: url("../Fonts/Helvetica/helveticaneue.eot");
    /* IE9 Compat Modes */
    src: url("../Fonts/Helvetica/helveticaneue.eot?#iefix") format("embedded-opentype"),
      url("../Fonts/Helvetica/helveticaneue.woff") format("woff"),
      url("../Fonts/Helvetica/helveticaneue.ttf") format("truetype"),
      url("../Fonts/Helvetica/helveticaneue.svg") format("svg");
    /* Legacy iOS */
  };

@import './Variables/variables';
@import './Components/generic';
@import './Layout/header';
@import './Components/steps';
@import './Components/order';


